/* Evita rolagem horizontal */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hero-swiper {
  width: 100vw;
  height: 75vh;
}

.slide {
  width: 100vw;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 2rem;
  color: white;
}

/* NOVO: Imagem de fundo com escurecimento */
.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* NOVO: Conteúdo centralizado e com animação */
.slide-content {
  position: relative;
  z-index: 1;
  text-align: start;
  max-width: 1000px;
  padding: 0 1rem;
  animation: fadeIn 1s ease-in-out;
  margin-left: 40px;
}

.slide-content h1 {
  font-size: 64px;
  margin-bottom: 20px;
  margin-top: 100px;
}
.slide-content p {
  max-width: 600px;
  margin-bottom: 20px;
  margin-bottom: 84px;
}


/* NOVO: Animação fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* NOVO: Responsividade */
@media (max-width: 768px) {
.slide-content {
  position: relative;
  z-index: 1;
  text-align: start;
  max-width: 350px;
  padding: 0 1rem;
  animation: fadeIn 1s ease-in-out;
  margin-left: 10px;
}

.slide-content h1 {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 100px;
}
.slide-content p {
  max-width: 600px;
  margin-bottom: 0px;
}

}
